﻿@model WebApplication1.Models.SlotEntry

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SlotEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-area="admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GoldNumber" class="control-label"></label>
                <input asp-for="GoldNumber" class="form-control" />
                <span asp-validation-for="GoldNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShubhlakshamiNumber" class="control-label"></label>
                <input asp-for="ShubhlakshamiNumber" class="form-control" />
                <span asp-validation-for="ShubhlakshamiNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RajashriNumber" class="control-label"></label>
                <input asp-for="RajashriNumber" class="form-control" />
                <span asp-validation-for="RajashriNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star" class="control-label"></label>
                <input asp-for="Star" class="form-control" />
                <span asp-validation-for="Star" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" type="text" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot" class="control-label"></label>
                <input asp-for="Slot" class="form-control" />
                <span asp-validation-for="Slot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" integrity="sha256-y/nn1YJAT/GwVsHZTooNErdWLjZvqMFJxNRLvigMD4I=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('input#DateTime').datetimepicker()
            $.get('/admin/slotentries/getdata', function (data_) {
                const data = JSON.parse(data_);
                $('input#RajashriNumber').val(data.result_GC)
                $('input#ShubhlakshamiNumber').val(data.result_GB)
                $('input#GoldNumber').val(data.result_GA)
                $('input#DateTime').val(data.currTimeCount)

            })
        });

    </script>
}
