﻿
@{
    ViewData["Title"] = "createBulk";
    int hour = 11;
    int minute = 0;
    string am = "am";
}

<h2>createBulk</h2>


<form asp-action="createbulk">
    <div class="row">
        <div class="col-md-4">For Date</div>
        <div class="col-md-8">
            <input type="date" name="date" class="form-control"/>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time</th>
                <th>Golden-A</th>
                <th>Shubhlakshami-A</th>
                <th>Rajshri</th>
                <th>Star</th>
            </tr>
        </thead>

        @for (int i = 0; i < (10 * 6) +4; i++)
        {
            <tr>
                <td>@hour : @minute.ToString("00") @am</td>
                <td><input name="Ga" type="text" class="form-control"/></td>

                <td><input name="Su" type="text" class="form-control"/></td>
                <td><input name="Ra" type="text" class="form-control"/></td>
                <td><input name="st" type="text" class="form-control"/></td>
                @if (minute == 50)
                {

                    hour++;
                    if (hour == 13)
                    { hour = 1;
                        am = "pm";
                    }
                    minute = 0;
                }
                else
                {

                    minute += 10;
                }
            </tr>
        }

          
        </table>
    <button class="btn btn-default">Save</button>
</form>