﻿@model WebApplication1.Models.SlotEntry

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SlotEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoldNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoldNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShubhlakshamiNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShubhlakshamiNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RajashriNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RajashriNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Star)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slot)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-area="admin">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
