﻿@model WebApplication1.Models.SlotEntry

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SlotEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoldNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoldNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShubhlakshamiNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShubhlakshamiNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RajashriNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RajashriNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Star)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-area="admin" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-area="admin" asp-controller="SlotEntries">Back to List</a>
</div>
