﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LuckyGoa</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/css/theme.css" rel="stylesheet" />
</head>
<body>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="row header_bar">
            <div class="col-md-2">
                <img src="~/images/logo.png" style="background-color:#fff;position: relative;top: 58px;vertical-align: middle;background-color: #fff;" />

            </div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-12 block_upper">
                        <div class="row">
                            <div class="col-md-12 date_time">
                                Date <span class="label label-primary"> @DateTime.Now.ToString("dd/MM/yyyy")</span>  |  Result Time <span class="label label-success">9 Pm</span>
                            </div>

                        </div>




                    </div>
                    <div class="col-md-3 block_header head_lot">
                        <ul class="list-group">
                            <li class="list-group-item head_lot">GA <br /> 60-69</li>
                            <li class="list-group-item"><span class="label label-success label-s" id="ga">--</span></li>
                            <li class="list-group-item"><span class="label label-danger ">  Draw in 20 min</span></li>
                        </ul>
                        <span id="errorGA">Updating</span>
                    </div>
                    <div class="col-md-3 block_header head_lot">
                        <ul class="list-group">
                            <li class="list-group-item head_lot">GB <br /> 60-69</li>
                            <li class="list-group-item"><span class=" label label-success label-s" id="gb">--</span></li>
                            <li class="list-group-item"><span class="label label-danger ">  Draw in 20 min</span></li>
                        </ul>
                        <span id="errorGB">Updating</span>
                    </div>
                    <div class="col-md-3 block_header head_lot">
                        <ul class="list-group">
                            <li class="list-group-item">GC <br /> 60-69</li>
                            <li class="list-group-item"><span class="label label-success label-s" id="gc">--</span></li>
                            <li class="list-group-item"><span class="label label-danger ">  Draw in 20 min</span></li>
                        </ul>
                        <span id="errorGC">Updating</span>
                    </div>
                    <div class="col-md-3 block_header head_lot">
                        <ul class="list-group">
                            <li class="list-group-item">LUCKY GOA <br /> 60-69</li>
                            <li class="list-group-item"><span class="label label-success label-s" id="lg">--</span></li>
                            <li class="list-group-item"><span class="label label-danger ">  Draw in 10 min</span></li>
                        </ul>
                        <span id="errorLG">Updating</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="timer">
                            Current Time : <span class="label label-info" id="clock"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Next Draw : <span>10 : 00 am</span>
                    </div>
                    <div class="col-md-4">
                        Time Remaining : <span>00:00:00</span>
                    </div>
                </div>
            </div>

        </div>
        <nav class="navbar navbar-inverse ">
            <div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Lucky Goa'</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Buy">Buy</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="col-md-12 body-content-main">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>
                Purchase of lottery using this website is strictly prohibited in the states where lotteries are banned.
                Viewing this website is on your own risk. All the information shown here is sponsored and we warn you that Satta Matka gambling in your country,state may be banned or illegal.
                We are not responsible for any issues or scam. We respect all country, state rules/laws. If you not agree with our site disclaimer. Please quit our site right now.
                You must be above 18 years to play online lottery.
            </p>
            <p>&copy; 2019 - LuckyGoa</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        Date.prototype.yyyymmdd = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
            return "".concat(yyyy).concat(mm).concat(dd);
        };

        Date.prototype.yyyymmddhhmm = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
            var hh = this.getHours() < 10 ? "0" + this.getHours() : this.getHours();
            var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
            return "".concat(yyyy).concat(mm).concat(dd).concat(hh).concat(min);
        };

        Date.prototype.yyyymmddhhmmss = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
            var hh = this.getHours() < 10 ? "0" + this.getHours() : this.getHours();
            var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
            var ss = this.getSeconds() < 10 ? "0" + this.getSeconds() : this.getSeconds();
            return "".concat(dd).concat("-").concat(mm).concat("-").concat(yyyy).concat(" ").concat(hh).concat(":").concat(min).concat(":").concat(ss);
        };
        $(function () {

            setInterval(function () {
                var date = new Date();

                $("#clock").html(date.yyyymmddhhmmss())
            }, 1)

        })
    </script>
    <script src="~/@@aspnet/signalr/dist/browser/signalr.js"></script>
   // <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/UpdateData.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
