﻿@model WebApplication1.Models.LotteryEntry

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>LotteryEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" type="number" max="31" min="1" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" type="number" max="12" min="1" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" type="number" max="2050" min="2018" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <input asp-for="Hour" class="form-control" type="number" max="12" min="1" />
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Min" class="control-label"></label>
                <input asp-for="Min" class="form-control" type="number" max="59" min="0" />
                <span asp-validation-for="Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AM" class="control-label"></label>
                <select asp-for="AM" class="form-control"  >
                    <option value="0">AM</option>
                    <option value="1">PM</option>
                </select>
                <span asp-validation-for="AM" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="DateTime" class="control-label"></label>
            <input asp-for="DateTime" class="form-control" type="text"/>
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="StarNumber" class="control-label"></label>
                <input asp-for="StarNumber" class="form-control" max="99" min="0"/>
                <span asp-validation-for="StarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" integrity="sha256-y/nn1YJAT/GwVsHZTooNErdWLjZvqMFJxNRLvigMD4I=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('input#DateTime').datetimepicker()
            $.get('/admin/slotentries/getdata', function (data_) {
                const data = JSON.parse(data_);
                $('input#RajashriNumber').val(data.result_GC)
                $('input#ShubhlakshamiNumber').val(data.result_GB)
                $('input#GoldNumber').val(data.result_GA)
                $('input#DateTime').val(data.currTimeCount)

            })
        });

    </script>
}