﻿@model IEnumerable<WebApplication1.Models.LotteryEntry>

@{
    ViewData["Title"] = "Index";
    var thispage = ViewBag.page;
    var prev = 0;
    if (thispage >= 1)
    {
        prev = thispage - 1;
    }
    var newxt = thispage + 1;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.DateTime.ToString("dd-MM-yyyy  hh:mm tt")
            </td>
            <td>
                @item.StarNumber.ToString("00")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<a href="/Admin/LotteryEntries?size=200&page=@prev"> Prev</a><a href="/Admin/LotteryEntries?size=200&page=@newxt"> Next</a>