﻿@{
    ViewData["Title"] = "About";
}

<form method="post" id="home_content" name="home_content" class="default" action="#">

    <div class="modal" style="display: none; text-align: center;">
        <div class="center">
            <img alt="" src="http://www.playshrigoagems.com/images/loadernew2.gif">
        </div>
    </div>

    <table border="0" cellpadding="0" cellspacing="0" style="font-size:16px; text-align: center; vertical-align: middle;  ">
        <tbody>
            <tr height="60px" >
                <td >Number</td>
                <td width="110px"><strong>Golden-A <br>Gems</strong></td>
                <td width="160px"><strong>Shubhlakshami-A<br> Gems</strong></td>
                <td width="110px"><strong>Rajashri-A<br> Gems</strong></td>
                <td >Number</td>
            </tr>
            <tr align="center" >
                <td >MRP : WIN</td>
                <td >11 : 100</td>
                <td >11 : 100</td>
                <td >11 : 100</td>
                <td >MRP : WIN</td>
            </tr>
            <tr >
                <td  ><strong>1 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g1" name="g1" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r1" name="r1" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s1" name="s1" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>1 &nbsp;</strong></td>

            </tr>
            <tr >
                <td  ><strong>2 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g2" name="g2" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r2" name="r2" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s2" name="s2" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>2 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>3 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g3" name="g3" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r3" name="r3" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s3" name="s3" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>3 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>4 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g4" name="g4" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r4" name="r4" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s4" name="s4" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>4 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>5 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g5" name="g5" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r5" name="r5" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s5" name="s5" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>5 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>6 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g6" name="g6" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r6" name="r6" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s6" name="s6" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>6 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>7 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g7" name="g7" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r7" name="r7" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s7" name="s7" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>7 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>8 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g8" name="g8" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r8" name="r8" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s8" name="s8" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>8 &nbsp;</strong></td>

            </tr>
            <tr  >
                <td  ><strong>9 &nbsp;</strong></td>
                <td align="center"><input type="text" id="g9" name="g9" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="r9" name="r9" class="form-control numAmt"   maxlength="3"></td>
                <td align="center"><input type="text" id="s9" name="s9" class="form-control numAmt"   maxlength="3"></td>
                <td  ><strong>9 &nbsp;</strong></td>

            </tr>

            <tr style="background-color: #FFFFBB">
                <td ><strong>0 &nbsp;</strong></td>

                <td align="center"><input type="text"   id="g0" name="g0" class="form-control numAmt" maxlength="3"></td>
                <td align="center"><input type="text" id="r0" name="r0"   class="form-control numAmt" maxlength="3"></td>
                <td align="center"><input type="text" id="s0"   name="s0" class="form-control numAmt" maxlength="3"></td>
                <td ><strong>0 &nbsp;</strong></td>

            </tr>
            <tr style="background-color: #f9f083; color:#cf1414">
                <td align="center" style=" font-size:16px">Qty</td>
                <td align="center"><input type="text" id="gQty" name="gQty" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>
                <td align="center"><input type="text" id="rQty" name="rQty" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>
                <td align="center"><input type="text" id="sQty" name="sQty" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>
                <td align="center"><input type="text" id="totalQty" name="totalQty" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>

            </tr>
            <tr style="background-color: #f9f083; color:#cf1414">
                <td align="center" style=" font-size:16px">Amount</td>
                <td align="center"><input type="text" id="gAmt" name="gAmt" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>

                <td align="center"><input type="text" id="rAmt" name="rAmt" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>

                <td align="center"><input type="text" id="sAmt" name="sAmt" class="form-control numAmt" disabled="disabled" style="text-align:center;"></td>
                <td align="center"><input type="text" id="totalAmt" name="totalAmt" class="form-control numAmt" disabled="disabled" style="text-align:right"></td>
            </tr>


            <tr height="45px">
                <td align="left" colspan="2">
                    <!--	<a href="http://www.playshrigoagems.com/home/delete_ticket?uid=1" class="button">Delete Ticket</a>-->
                    <input type="text" id="hAdvSlot" name="hAdvSlot" style=" display: none;">
                    <input type="button" name="advbtn" id="advbtn" onclick="advance_slot(0)" class="button" value="Advance Slot">

                    <div id="curslot" style="display:none; "></div>
                    <div id="advslot" style="display:none">
                        <select name="advanceSlot" id="advanceSlot">
                            <option class="default" value="10:20:00">10:20:00</option>
                            <option class="default" value="10:40:00">10:40:00</option>
                            <option class="default" value="11:00:00">11:00:00</option>
                            <option class="default" value="11:20:00">11:20:00</option>
                            <option class="default" value="11:40:00">11:40:00</option>
                            <option class="default" value="12:00:00">12:00:00</option>
                            <option class="default" value="12:20:00">12:20:00</option>
                            <option class="default" value="12:40:00">12:40:00</option>
                            <option class="default" value="13:00:00">13:00:00</option>
                            <option class="default" value="13:20:00">13:20:00</option>
                            <option class="default" value="13:40:00">13:40:00</option>
                            <option class="default" value="14:00:00">14:00:00</option>
                            <option class="default" value="14:20:00">14:20:00</option>
                            <option class="default" value="14:40:00">14:40:00</option>
                            <option class="default" value="15:00:00">15:00:00</option>
                            <option class="default" value="15:20:00">15:20:00</option>
                            <option class="default" value="15:40:00">15:40:00</option>
                            <option class="default" value="16:00:00">16:00:00</option>
                            <option class="default" value="16:20:00">16:20:00</option>
                            <option class="default" value="16:40:00">16:40:00</option>
                            <option class="default" value="17:00:00">17:00:00</option>
                            <option class="default" value="17:20:00">17:20:00</option>
                            <option class="default" value="17:40:00">17:40:00</option>
                            <option class="default" value="18:00:00">18:00:00</option>
                            <option class="default" value="18:15:00">18:15:00</option>
                            <option class="default" value="18:30:00">18:30:00</option>
                            <option class="default" value="18:45:00">18:45:00</option>
                            <option class="default" value="19:00:00">19:00:00</option>
                            <option class="default" value="19:15:00">19:15:00</option>
                            <option class="default" value="19:30:00">19:30:00</option>
                            <option class="default" value="19:45:00">19:45:00</option>
                            <option class="default" value="20:00:00">20:00:00</option>
                            <option class="default" value="20:15:00">20:15:00</option>
                            <option class="default" value="20:30:00">20:30:00</option>
                            <option class="default" value="20:45:00">20:45:00</option>
                            <option class="default" value="21:00:00">21:00:00</option>
                            <option class="default" value="21:15:00">21:15:00</option>
                            <option class="default" value="21:30:00">21:30:00</option>
                        </select>
                    </div>
                </td>

                <td align="right">
                    <input type="button" onclick="ClearAllControls()" class="button" value="Clear All">
                </td>
                <td colspan="2">
                    <input type="button" id="mySubmitButton" onclick="print_ticket()" class="button" value="Save Ticket">
                    <!--<input type="submit" onclick="print_ticket()" class="button" value="PrintS">-->
                </td>
            </tr>
        </tbody>
    </table>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" integrity="sha256-y/nn1YJAT/GwVsHZTooNErdWLjZvqMFJxNRLvigMD4I=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('input#DateTime').datetimepicker()
            $.get('/admin/slotentries/getdata', function (data_) {
                const data = JSON.parse(data_);
                $('input#RajashriNumber').val(data.result_GC)
                $('input#ShubhlakshamiNumber').val(data.result_GB)
                $('input#GoldNumber').val(data.result_GA)
                $('input#DateTime').val(data.currTimeCount)

            })
        });

    </script>

<script>
    $('#g1').keyup(function () { doCalculations(); });
    $('#g2').keyup(function () { doCalculations(); });
    $('#g3').keyup(function () { doCalculations(); });
    $('#g4').keyup(function () { doCalculations(); }); -
        $('#g5').keyup(function () { doCalculations(); });
    $('#g6').keyup(function () { doCalculations(); });
    $('#g7').keyup(function () { doCalculations(); });
    $('#g8').keyup(function () { doCalculations(); });
    $('#g9').keyup(function () { doCalculations(); });
    $('#g0').keyup(function () { doCalculations(); });

    $('#r1').keyup(function () { doCalculations(); });
    $('#r2').keyup(function () { doCalculations(); });
    $('#r3').keyup(function () { doCalculations(); });
    $('#r4').keyup(function () { doCalculations(); });
    $('#r5').keyup(function () { doCalculations(); });
    $('#r6').keyup(function () { doCalculations(); });
    $('#r7').keyup(function () { doCalculations(); });
    $('#r8').keyup(function () { doCalculations(); });
    $('#r9').keyup(function () { doCalculations(); });
    $('#r0').keyup(function () { doCalculations(); });

    /*$('#b1').keyup(function() {	doCalculations(); });
    $('#b2').keyup(function() {	doCalculations(); });
    $('#b3').keyup(function() {	doCalculations(); });
    $('#b4').keyup(function() {	doCalculations(); });
    $('#b5').keyup(function() {	doCalculations(); });
    $('#b6').keyup(function() {	doCalculations(); });
    $('#b7').keyup(function() {	doCalculations(); });
    $('#b8').keyup(function() {	doCalculations(); });
    $('#b9').keyup(function() {	doCalculations(); });
    $('#b0').keyup(function() {	doCalculations(); });*/

    $('#s1').keyup(function () { doCalculations(); });
    $('#s2').keyup(function () { doCalculations(); });
    $('#s3').keyup(function () { doCalculations(); });
    $('#s4').keyup(function () { doCalculations(); });
    $('#s5').keyup(function () { doCalculations(); });
    $('#s6').keyup(function () { doCalculations(); });
    $('#s7').keyup(function () { doCalculations(); });
    $('#s8').keyup(function () { doCalculations(); });
    $('#s9').keyup(function () { doCalculations(); });
    $('#s0').keyup(function () { doCalculations(); });

    function print_ticket() {
        if (document.getElementById('totalQty').value == '' || document.getElementById('totalQty').value <= 0) {
            alert("Enter Ticket Value...!");
        }
        else {

            add_ticket();

        }
    }

    function advance_slot() {
        //alert(V);
        if (V == 'advslot') {
            V = 'curslot';
            document.getElementById('advslot').style.display = 'block';
            $('#advbtn').val('Current Slot');
            $('#hAdvSlot').val('advance');
        } else {
            V = 'advslot';
            document.getElementById('curslot').style.display = 'block';
            document.getElementById('advslot').style.display = 'none';
            $('#advbtn').val('Advance Slot');
            $('#hAdvSlot').val('current');
        }
    }

    function switch_vertical() {
        window.location = "http://www.playshrigoagems.com/home";
    }

    function switch_horizontal() {
        window.location = "http://www.playshrigoagems.com/home";
    }
    function show(value) {
        //document.getElementById( value ).style.display = 'block';
        if (value == 'acc') {
            document.getElementById('acc').style.display = 'block';

        }
        else
            document.getElementById('acc').style.display = 'none';
    }
    function doCalculations() {
        var gTotal = Number($('#g1').val()) + Number($('#g2').val()) + Number($('#g3').val()) + Number($('#g4').val()) + Number($('#g5').val()) + Number($('#g6').val()) + Number($('#g7').val()) + Number($('#g8').val()) + Number($('#g9').val()) + Number($('#g0').val());

        var rTotal = Number($('#r1').val()) + Number($('#r2').val()) + Number($('#r3').val()) + Number($('#r4').val()) + Number($('#r5').val()) + Number($('#r6').val()) + Number($('#r7').val()) + Number($('#r8').val()) + Number($('#r9').val()) + Number($('#r0').val());

        //var bTotal = Number($('#b1').val()) + Number($('#b2').val()) + Number($('#b3').val()) + Number($('#b4').val()) + Number($('#b5').val()) + Number($('#b6').val()) + Number($('#b7').val()) + Number($('#b8').val()) + Number($('#b9').val()) + Number($('#b0').val());

        var sTotal = Number($('#s1').val()) + Number($('#s2').val()) + Number($('#s3').val()) + Number($('#s4').val()) + Number($('#s5').val()) + Number($('#s6').val()) + Number($('#s7').val()) + Number($('#s8').val()) + Number($('#s9').val()) + Number($('#s0').val());


        $('#gQty').val(gTotal);
        $('#rQty').val(rTotal);
        //$('#bQty').val(bTotal);
        $('#sQty').val(sTotal);

        $('#gAmt').val(Number(gTotal) * 11);
        $('#rAmt').val(Number(rTotal) * 11);
        //$('#bAmt').val(Number(bTotal) * 11);
        $('#sAmt').val(Number(sTotal) * 11);

        $('#totalAmt').val(Number($('#gAmt').val()) + Number($('#rAmt').val()) + Number($('#sAmt').val()));
        $('#totalQty').val(Number($('#gQty').val()) + Number($('#rQty').val()) + Number($('#sQty').val()));

    }

    jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keypress(function (e) {
                    var key = e.Which || e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 46 ||
                        (key >= 37 && key <= 40) ||
                        (key >= 48 && key <= 57));
                });
            });
        };

    $("#g1").ForceNumericOnly();
    $("#g2").ForceNumericOnly();
    $("#g3").ForceNumericOnly();
    $("#g4").ForceNumericOnly();
    $("#g5").ForceNumericOnly();
    $("#g6").ForceNumericOnly();
    $("#g7").ForceNumericOnly();
    $("#g8").ForceNumericOnly();
    $("#g9").ForceNumericOnly();
    $("#g0").ForceNumericOnly();

    $("#r1").ForceNumericOnly();
    $("#r2").ForceNumericOnly();
    $("#r3").ForceNumericOnly();
    $("#r4").ForceNumericOnly();
    $("#r5").ForceNumericOnly();
    $("#r6").ForceNumericOnly();
    $("#r7").ForceNumericOnly();
    $("#r8").ForceNumericOnly();
    $("#r9").ForceNumericOnly();
    $("#r0").ForceNumericOnly();

    /*$("#b1").ForceNumericOnly();
    $("#b2").ForceNumericOnly();
    $("#b3").ForceNumericOnly();
    $("#b4").ForceNumericOnly();
    $("#b5").ForceNumericOnly();
    $("#b6").ForceNumericOnly();
    $("#b7").ForceNumericOnly();
    $("#b8").ForceNumericOnly();
    $("#b9").ForceNumericOnly();
    $("#b0").ForceNumericOnly();*/

    $("#s1").ForceNumericOnly();
    $("#s2").ForceNumericOnly();
    $("#s3").ForceNumericOnly();
    $("#s4").ForceNumericOnly();
    $("#s5").ForceNumericOnly();
    $("#s6").ForceNumericOnly();
    $("#s7").ForceNumericOnly();
    $("#s8").ForceNumericOnly();
    $("#s9").ForceNumericOnly();
    $("#s0").ForceNumericOnly();
</script>

}