﻿@model WebApplication1.Models.IndexVMcs
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-12 text-center">
            <form class="form-inline">
                <input type="date" name="date" class="form-control"/><button class="btn btn-info "><i class="fa fa-refresh"></i>Go</button>
            </form>
        </div>
       
        <div class="col-md-4">

            <table class="table table-bordered table-responsive tt">
                <tr>
                    <th>
                        Time
                    </th>

                    <th>Goa Lucky</th>
                </tr>
                @foreach (var item in Model.LotteryEntries)
                {
                    <tr>
                        <th class="red_table">
                            @item.DateTime.ToString("hh:mm tt")
                           @*@TimeZoneInfo.ConvertTimeToUtc(item.DateTime, TimeZoneInfo.FindSystemTimeZoneById("India Standard Time")).ToString("hh:mm tt")*@
                        </th>

                        <th class="gold_table">
                            @item.StarNumber.ToString("00") 
                        </th>

                    </tr>
                }
            </table>
        </div>
        <div class="col-md-8">

            <table class="table table-bordered table-responsive tt">
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Golden
                    </th>
                    <th>
                        Shubhalakshmi
                    </th>
                    <th>
                        Rajshri
                    </th>

                </tr>
                @foreach (var item in Model.SlotEntries)
                {
                    <tr>
                        <th class="red_table">
                            @item.DateTime.ToString("hh:mm tt")
                        </th>
                        <th class="blue_table">
                            @item.GoldNumber
                        </th>
                        <th class="green_table">
                            @item.ShubhlakshamiNumber
                        </th>
                        <th class="cyan_table">
                            @item.RajashriNumber
                        </th>

                    </tr>
                }
            </table>
        </div>
    </div>
