﻿@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;

    var startDate = new DateTime(2019, 05, 29,11,00,00);


    var EndDate = DateTime.Now;
    var random = new Random();

    List<KeyValuePair<DateTime, string>> list = new List<KeyValuePair<DateTime, string>>();

}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <table border="1">
            
            @*<tr>
                <td></td>
                @for (int i = 0; i < (EndDate - startDate).Days; i++)
                {
                    <td>@startDate.AddDays(i).ToShortDateString()</td>
                }
            </tr>
            @for(int j = 0; j < 64; j++)
            {
                var time = startDate.AddMinutes(j * 10);
            <tr>
                <td>@time.ToString("hh:mm tt")</td>
                @for (int i = 0; i < (EndDate - startDate).Days; i++)
                {
                    var value = random.Next(11, 99);
                    list.Add(new KeyValuePair<DateTime, string>(time, value.ToString()));
                    <td>Result @value.ToString()[0]  Entry:@value.ToString("(##)")</td>
                }
            </tr>
            }*@
        </table>
    </body>
    </html>
    
